# Binaries
*.out
*.exe
*.dll
*.so
*.dylib

# Build directories
/bin/
/obj/

# Go build cache (optional)
*.test
*.prof

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/
*.code-workspace

# Logs
*.log

# Other
TODO.md
README.md.bak